<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="col-md-3">
        <img src="../../assets/prof.jpg" alt="Profile Pic"  class="profile-image">
      </ion-col>
      <ion-col class="col-md-6">

        <div class="container">
          <div class="card">
              <div class="face face1">
                  <div class="content">
                      <div class="icon">
                        <ion-icon name="logo-linkedin"></ion-icon>
                      </div>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <h3>
                          <a href="https://www.linkedin.com/in/babken-n-4968a91a0/" target="_blank">Babken Nurijanyan</a>
                      </h3>
                      <p>This is where I network and build my professional protfolio.</p>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face face1">
                  <div class="content">
                      <div class="icon">
                        <ion-icon name="logo-github"></ion-icon>
                      </div>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <h3>
                          <a href="https://github.com/Kingbab1" target="_blank">Kingbab1</a>
                      </h3>
                      <p>This is where you can find all of my projetcs.</p>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face face1">
                  <div class="content">
                      <div class="icon">
                        <ion-icon name="newspaper-outline"></ion-icon>
                      </div>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <h3>
                          <a href="" target="_blank">Current Project</a>
                      </h3>
                      <p>This is the current Project which I am working on, It's a news application built using Angular, Ionic</p>
                  </div>
              </div>
          </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
